body {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
  background-color: hsl(228, 33%, 97%);
}

.card {
  margin-top: 50px;
  margin-left: 50%;
  border-radius: 5px;
}

.col-md-4 {
  background-color: hsl(223, 19%, 93%);
  width: 5%;
  height: 80px;
  margin: 20px 5px 0px 20px;
  text-align: center;
  border-radius: 5px;
}

.card-body {
  display: flex;
  padding-bottom: 5px;
}

.col-md-8 {
  width: 480px;
  height: auto;
}

.counter {
  color: hsl(212, 24%, 26%);
}

.avatar > img {
  width: 30px;
}

.name {
  padding-left: 15px;
  font-size: 0.9rem;
}

.lastComment {
  padding-left: 15px;
  color: grey;
  font-size: 0.9rem;
}

.replyIcon {
  padding-left: 150px;
}

.replyText {
  padding-left: 5px;
  color: hsl(238, 40%, 52%);
}

.card-text {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 0.9rem;
}
